*{ 
    margin: 0;
    padding: 0;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 .slider {
    margin: 0 auto;
    width: 800px;
    height: 800px;
    overflow: hidden;
}

.container3 .slider .slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.container3 .slides input {
    display: none;
}

.container3 .slider .slide {
    width: 25%;
    position: relative;
}

.container3 .slider .slide img{
    width: 800px;
}

.manual_navegacao {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual_botao {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual_botao:not(:last-child){
    margin-right: 40px;
}
