 *{
    margin: 0;
    padding: 0;
 }
 body{
    /* background-image: url(../imagem/VILAR.jpg);
    backdrop-filter: brightness(0.2); */
    height: 100vh;
    width: 100%;
    background-color: black;
 } 

 .header{ 
    display: flex;
    justify-content: flex-end;
 }
 
 .header .logo{
    padding: 5px;
    width: 55%;
    position: fixed;
    left: 0;
 }

.header .titulo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
}

 .header .titulo p{
    color: white;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 } 

 .header .botao_home{
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 7px;
 }
 .header .botao_home button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 27.3%;
    border-radius: 15px;
    font-size: 20px;
    background-color:  rgba(207, 89, 21, 0.712);
 }
 .header .botao_home button a{
    text-decoration: none;
    color: black;
 }
 .container{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: flex-end;
 }
 .container .imagem{
    width: 20%;
    height: 550px;
    margin-top: 5px;
    position: fixed; 
    left: 0;
    padding: 19px;
 }
 .container .historia{
   width: 75%; 
   height: 100vh;
   display: flex;
   flex-direction: column;
} 

/* parte1 */
 .container .historia .parte1 .texto{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .container .historia .parte1 .imagens{
   /* display: flex; */
   justify-content: space-around;
   width: 75%;
   height: 100px;
   align-items: center;
 }

 .container .historia .parte1 .texto p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 100px;
 }
 #descricao1{
   font-size: 10px;
   width: 100%;
   height: 10px;
 }

/* parte2
 .container .historia .parte2{
   width:100% ;
   height: 410px;
   
 }
 .container .historia .parte2 .texto{
      width:100% ;
      height: 450px;
      display: flex;
      flex-direction: column;

      font-size: 25px;
      color: white;
   }
.container .historia .parte2 .imagens{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 300px;
   
}

 
parte3
.container .historia .parte3{
   width:100% ;
   height: 450px;
   
 }
 .container .historia .parte3 .texto{
      width:100% ;
      height: 500px;
      display: flex;
      flex-direction: column;

      font-size: 25px;
      color: white;
   }
.container .historia .parte3 .imagens{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 300px;
}
   
parte4
.container .historia .parte4{
   width:100% ;
   height: 700px;
   
 }
 .container .historia .parte4 .texto{
      width:100% ;
      height: 450px;
      display: flex;
      flex-direction: column;

      font-size: 25px;
      color: white;
   }
.container .historia .parte4 .imagens{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

parte5
.container .historia .parte5{
   width:100% ;
   height: 750px;
   
 }
 .container .historia .parte5 .texto{
      width:100% ;
      height: 500px;
      display: flex;
      flex-direction: column;

      font-size: 25px;
      color: white;
   }
.container .historia .parte5 .imagens{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 400px;
}


parte6
.container .historia .parte6{
   width:100% ;
   height: 500px;
   
 }
 .container .historia .parte6 .texto{
      width:100% ;
      height: 400px;
      display: flex;
      flex-direction: column;

      font-size: 25px;
      color: white;
   }
.container .historia .parte6 .imagens{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 400px;
} */
