*{
    margin: 0;
    padding: 0;
 }
 body{
    background-image: url(../imagem/VILAR.jpg);
    backdrop-filter: brightness(0.2);
    height: 100vh;
    width: 100%;
 }

 .header{
    display: flex;
 }

 .header .logo{
    padding: 5px;
    width: 50%;
 }

.header .titulo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
}

 .header .titulo p{
    color: white;
    font-size: 50px;
 }

 .header .botao_home{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
 }
 .header .botao_home button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35%;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgb(207, 89, 21);
 }
 .header .botao_home button a{
    text-decoration: none;
    color: black;
 } 